<% cssClasses ||= {} %>
<% required   ||= false %>
<% default_field_value ||= "&nbsp" %>

<div class="custom-attributes title <%=cssClasses[:title]%>">
  <%= "<div class='#{cssClasses[:innerClasses]}'>".html_safe if cssClasses[:innerClasses].present? %> 
  <%= date_time_value.name %>
  <% if required %>
    <span class="<%= cssClasses[:required] %>">*</span>
  <% end %>
  <%= '</div>'.html_safe if cssClasses[:innerClasses].present? %>
</div>
<div class="custom-attributes value edit-cursor <%=cssClasses[:field]%>">
  <%= date_time_value.date_time_value.try(:to_date).try(:to_s, :long) || default_field_value.html_safe %>
</div>