<% cssClasses ||= {} %>
<% required   ||= false %>
<% date_time_value.value ||= date_time_value.custom_attribute_defn.default_value %>

<div class="custom-attributes title <%=cssClasses[:title]%>">
  <%= date_time_value.name %>
  <% if required %>
    <span class="<%= cssClasses[:required] %>">*</span>
  <% end %>
</div>
<div class="custom-attributes value edit-cursor <%=cssClasses[:field]%>">
  <%= date_time_value.value %>
</div>