<div class="<%= 'collapse' unless f.object.try(:date_type?) %>" id="custom_attribute_definition_email_alert_<%= custom_attr_postfix %>">
  <%= theme_checkbox(f, :send_email_alert, { checked: custom_attribute.new_record? || custom_attribute.send_email_alert?, id: 'custom_attribute_definition_send_email_alert' }, { label: t('custom_attributes.form_dialog.send_email_alert') }) %>

  <div class="ml-3 <%= 'collapse' unless (custom_attribute.new_record? || custom_attribute.send_email_alert?) %>" id="custom_attribute_definition_email_options_div">
    <%= theme_checkbox(f, :scheduled_alert, { checked: custom_attribute.new_record? || custom_attribute.scheduled_alert?, id: 'custom_attribute_definition_scheduled_alert' }, { label: t('custom_attributes.form_dialog.scheduled_custom_field_alert') }) %>

    <div class="ml-3 <%= 'collapse' unless (custom_attribute.new_record? || custom_attribute.scheduled_alert?) %>" id='custom_attribute_definition_recurring_alert_div'>
      <%= theme_checkbox(f, :is_recurring, { id: 'custom_attribute_definition_is_recurring', data: { 'attr-id' => custom_attr_postfix } }, { label: t('custom_attributes.form_dialog.setup_recurring_date_alert_label') } ) %>
     
      <div class="ml-3 <%= 'collapse' unless custom_attribute.is_recurring? %>" id="custom_attribute_definition_recurring_cycle_type">
        <div class="row no-gutters">
          <div class="col m-r-8">
            <div class="label-input-item">
              <div class="row no-gutters">
                <div class="col-12">
                  <%= f.label :repeat_duration, t('custom_attributes.form_dialog.repeat_duration_label') %>
                </div>
                <div class="col-12">
                  <%= f.text_field :repeat_duration, type: 'number', min: 1 %>
                </div>
              </div>
            </div>
          </div>
          <div class="col m-l-8">
            <div class="label-input-item">
              <div class="row no-gutters">
                <% cycle_types = [t('custom_attributes.form_dialog.day_label'), t('custom_attributes.form_dialog.week_label'), t('custom_attributes.form_dialog.month_label'), t('custom_attributes.form_dialog.year_label')] %>
                <div class="col-12">
                  <%= f.label :repeat_cycle, t('custom_attributes.form_dialog.repeat_cycle_label') %>
                </div>
                <div class="col-12">
                  <%= f.select :repeat_cycle, cycle_types, {}, data: { select2_classes: 'select2-small-container' }, class: "select2-small" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= theme_checkbox(f, :advance_alert, { id: 'custom_attribute_definition_advance_alert' }, { label: t('custom_attributes.form_dialog.advance_custom_field_alert'), help_link: { title: t('custom_attributes.form_dialog.alert_sent_from_selected_date_title') } }) %>
    <div class="ml-3 <%= 'collapse' unless custom_attribute.advance_alert? %>" id="custom_field_definition_advance_notification_days">
      <div class="label-input-item">
        <div class="row no-gutters">
          <div class="col-12">
            <%= f.label :advance_alert_days, t('custom_attributes.form_dialog.advance_alert_days_label') %>
          </div>
          <% if local_assigns[:show_multiple_phases] %>
            <div id="phases_list" class="col-12" data-class-prefix="<%= custom_attribute.class.name.underscore %>" data-alert-type="advance">
              <% if local_assigns[:advance_alert_phases].present? %>
                <%= render partial: "zen/custom_attributes/custom_attribute_definitions/phases_fields", locals: { class_prefix: custom_attribute.class.name.underscore, alert_phases: advance_alert_phases, field_classes: field_classes, alert_type: 'advance' } %>
              <% end %>
            </div>
            <div class="col-12 p-2">
              <%= link_to 'Add Phase', '#', id: 'add_phase' %>
            </div>
          <% else %>
            <div class="col-12">
              <%= f.number_field :advance_alert_days, min: 1, max: 365, step: '1', class: 'w-100' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <%= theme_checkbox(f, :subsequent_alert, { id: 'custom_attribute_definition_subsequent_alert' }, { label: t('custom_attributes.form_dialog.subsequent_custom_field_alert'), help_link: { title: t('custom_attributes.form_dialog.alert_sent_from_selected_date_title') } }) %>
    <div class="ml-3 <%= 'collapse' unless custom_attribute.subsequent_alert? %>" id="custom_field_definition_subsequent_notification_days">
      <div class="label-input-item">
        <div class="row no-gutters">
          <div class="col-12">
            <%= f.label :subsequent_alert_days, t('custom_attributes.form_dialog.subsequent_alert_days_label') %>
          </div>
          <% if local_assigns[:show_multiple_phases] %>
            <div id="subsequent_phases_list" class="col-12" data-class-prefix = "<%=  custom_attribute.class.name.underscore %>" data-alert-type="subsequent">
              <% if local_assigns[:subsequent_alert_phases].present? %>
                <%= render partial: "zen/custom_attributes/custom_attribute_definitions/phases_fields", locals: { class_prefix: custom_attribute.class.name.underscore, alert_phases: subsequent_alert_phases, field_classes: field_classes, alert_type: 'subsequent' } %>
              <% end %>
            </div>
            <div class="col-12 p-2">
              <%= link_to 'Add Phase', '#', id: 'add_subsequent_phase' %>
            </div>
          <% else %>
            <div class="col-12">
              <%= f.number_field :subsequent_alert_days, min: 1, max: 365, step: '1', class: 'w-100' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="js-delete_icon collapse">
  <%= link_to '#_',  class: 'js-remove-alert-phase tiny-svg-icon blue-svg m-l-20 pt-3 d-inline-block' do %>
    <%= render partial: 'zen/shared/svgs/delete' %>
  <% end %>
</div>