<% fieldClass ||= nil %>
<% new_record ||= false %>
<% confirm_option_deletion_url ||= nil %>
<% position_update_url ||= nil %>

<div class="label-input-item">
  <div class="row no-gutters">
    <div class="col-12">
      <label>Name</label>
    </div>
    <div class="col-12 <%= fieldClass %>">
      <%= f.text_field :attr_name, pattern:"^[a-zA-Z0-9ąćęłńóśźżĄĆĘŁŃÓŚŹŻ ]+$", title: "Name can only contain alphanumeric characters and spaces.", class: 'w-100' %>
    </div>
  </div>
</div>

<div class="label-input-item">
  <div class="row no-gutters">
    <div class="col-12">
      <label>Type</label>
    </div>
    <div class="col-12 <%= fieldClass %>">
      <% custom_attr_type_hash = custom_attribute_types.except!(CustomAttributes::CustomAttribute::TYPE_MULTIPLE_CHOICE, CustomAttributes::CustomAttribute::TYPE_CHECKBOX).invert %>
      <% type_options = { disabled: !new_record, id: "custom_attribute_type", class: 'select2-small', data: { select2_classes: 'select2-small-container' } } %>
      <% 
        if local_assigns[:is_date_alert]
          custom_attr_type_hash = custom_attr_type_hash.transform_keys{ |key| key == 'Date Field' ? "#{key} (alert)" : key }
          type_options['data-attr-id'] = "custom_attribute_type_#{id}"
        end 
      %>
      
      <%= f.select :attr_type, custom_attr_type_hash, {}, type_options %> 
    </div>
  </div>
</div>
<% unless f.object.try(:date_type?) %>
  <div id="custom_attribute_default_value_div" class="label-input-item">
    <div class="row no-gutters">
      <div class="col-12 pb-3">
        <label>Default Value</label>
      </div>
      <div class="col-12 <%= fieldClass %> js-default-value-div">
        <% if f.object.try(:boolean_type?) %>
          <div class="radio-button-label">
            <%= f.radio_button :default_value, true, { class: 'js-default-value-field', id: 'enabled_custom_attribute_default_value' } %>
            <label for="enabled_custom_attribute_default_value">Yes</label>
            <div class="check"></div>
          </div>
          <div class="radio-button-label">
            <%= f.radio_button :default_value, false, { class: 'js-default-value-field', id: 'disabled_custom_attribute_default_value' } %>
            <label for="disabled_custom_attribute_default_value">No</label>
            <div class="check"></div>
          </div>
          <div class="radio-button-label">
            <%= f.radio_button :default_value, '', { class: 'js-default-value-field', id: 'custom_attribute_definition_default_value' } %>
            <label for="custom_attribute_definition_default_value">Do not set a default value</label>
            <div class="check"></div>
          </div>
        <% elsif f.object.try(:dropdown_type?) %>
          <%= select_tag :selected_option_label, options_for_select(f.object.custom_attribute_options.map { |op| op.label }, selected: f.object.default_option.try(:label)), include_blank: "Select", class: "js-dropdown-ca-default-select select2-small", data: { select2_classes: 'select2-small-container' } %>
        <% elsif f.object.try(:paragraph_type?) %>
          <%= f.text_area :default_value, class: "js-default-value-field w-100" %>
        <% else %>
          <%= f.text_field :default_value, class: "js-default-value-field w-100" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="js-custom-attribute-definition-options <%= 'collapse' if f.object.blank? || !f.object.has_options? %>">
  <div class="js-custom-attribute-options-content js-sort-custom-attribute-options" data-update-url="<%= position_update_url %>">
    <%= f.fields_for :custom_attribute_options do |g| %>
      <%= render partial: 'zen/custom_attributes/custom_attribute_definitions/custom_attribute_option_fields', locals: { f: g, confirm_option_deletion_url: confirm_option_deletion_url } %>
    <% end %>
  </div>
  <% 
    new_object = f.object.class.reflect_on_association(:custom_attribute_options).klass.new
    fields     = f.fields_for(:custom_attribute_options, new_object, child_index: "new_custom_attribute_options") do |builder|
      render("zen/custom_attributes/custom_attribute_definitions/custom_attribute_option_fields", f: builder)
    end
  %>
  <div class="row no-gutters py-3 justify-content-center">
    <div class="col-11">
      <% text_tag = "<div class='d-flex justify-content-center'><p class='add-item-prepend-icon'>+&nbsp;</p><p>Add Options</p></div>" %>
      <%= link_to_function(text_tag, "addOptionToDropdownField('custom_attribute_options', '#{escape_javascript(fields)}')", class: 'btn-secondary-small list-view-preferences-add-column') %>
    </div>
  </div>
  
</div>

<% if local_assigns[:is_date_alert] %>
  <div class="<%= 'collapse' unless f.object.try(:date_type?) %>" id="custom_attribute_definition_email_alert_<%= id %>">
    <%= theme_checkbox(f, :send_email_alert, { checked: custom_attribute.new_record? || custom_attribute.send_email_alert?, id: 'custom_attribute_definition_send_email_alert' }, { label: t('custom_attributes.form_dialog.send_email_alert') }) %>

    <div class="ml-3 <%= 'collapse' unless (custom_attribute.new_record? || custom_attribute.send_email_alert?) %>" id="custom_attribute_definition_email_options_div">
      <%= theme_checkbox(f, :scheduled_alert, { checked: custom_attribute.new_record? || custom_attribute.scheduled_alert?, id: 'custom_attribute_definition_scheduled_alert' }, { label: t('custom_attributes.form_dialog.scheduled_custom_field_alert') }) %>

      <div class="ml-3 <%= 'collapse' unless (custom_attribute.new_record? || custom_attribute.scheduled_alert?) %>" id='custom_attribute_definition_recurring_alert_div'>
        <%= theme_checkbox(f, :is_recurring, { id: 'custom_attribute_definition_is_recurring', data: { 'attr-id' => id } }, { label: t('custom_attributes.form_dialog.setup_recurring_date_alert_label') } ) %>
       
        <div class="ml-3 <%= 'collapse' unless custom_attribute.is_recurring? %>" id="custom_attribute_definition_recurring_cycle_type">
          <div class="row no-gutters">
            <div class="col m-r-8">
              <div class="label-input-item">
                <div class="row no-gutters">
                  <div class="col-12">
                    <%= f.label :repeat_duration, t('custom_attributes.form_dialog.repeat_duration_label') %>
                  </div>
                  <div class="col-12">
                    <%= f.text_field :repeat_duration, type: 'number', min: 1 %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col m-l-8">
              <div class="label-input-item">
                <div class="row no-gutters">
                  <% cycle_types = [t('custom_attributes.form_dialog.day_label'), t('custom_attributes.form_dialog.week_label'), t('custom_attributes.form_dialog.month_label'), t('custom_attributes.form_dialog.year_label')] %>
                  <div class="col-12">
                    <%= f.label :repeat_cycle, t('custom_attributes.form_dialog.repeat_cycle_label') %>
                  </div>
                  <div class="col-12">
                    <%= f.select :repeat_cycle, cycle_types, {}, data: { select2_classes: 'select2-small-container' }, class: "select2-small" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%= theme_checkbox(f, :advance_alert, { id: 'custom_attribute_definition_advance_alert' }, { label: t('custom_attributes.form_dialog.advance_custom_field_alert'), help_link: { title: t('custom_attributes.form_dialog.alert_sent_from_selected_date_title') } }) %>
      <div class="ml-3 <%= 'collapse' unless custom_attribute.advance_alert? %>" id="custom_field_definition_advance_notification_days">
        <div class="label-input-item">
          <div class="row no-gutters">
            <div class="col-12">
              <%= f.label :advance_alert_days, t('custom_attributes.form_dialog.advance_alert_days_label') %>
            </div>
            <div class="col-12">
              <%= f.number_field :advance_alert_days, min: 1, max: 365, step: '1', class: 'w-100' %>
            </div>
          </div>
        </div>
      </div>

      <%= theme_checkbox(f, :subsequent_alert, { id: 'custom_attribute_definition_subsequent_alert' }, { label: t('custom_attributes.form_dialog.subsequent_custom_field_alert'), help_link: { title: t('custom_attributes.form_dialog.alert_sent_from_selected_date_title') } }) %>
      <div class="ml-3 <%= 'collapse' unless custom_attribute.subsequent_alert? %>" id="custom_field_definition_subsequent_notification_days">
        <div class="label-input-item">
          <div class="row no-gutters">
            <div class="col-12">
              <%= f.label :subsequent_alert_days, t('custom_attributes.form_dialog.subsequent_alert_days_label') %>
            </div>
            <div class="col-12">
              <%= f.number_field :subsequent_alert_days, min: 1, max: 365, step: '1', class: 'w-100' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if !(f.object.try(:date_type?) || f.object.try(:boolean_type?) || f.object.try(:has_options?)) %>
  <div class="label-input-contanier-sm">
    <div class="label-input-item">
      <div class="row no-gutters" id="custom_attribute_placeholder_div">
        <div class="col-12">
          <label>Placeholder
            <%= help_link({ title: 'It will be displayed in the custom field before the user enters a value' }) %>
          </label>
        </div>
        <div class="col-12 <%= fieldClass %>">
          <%= f.text_field :placeholder, class: 'w-100' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if new_record %>
  <%= f.hidden_field :sort_order %>
<% end %>