<% cssClasses ||= {} %>
<% required   ||= false %>

<div class="custom-attributes title <%=cssClasses[:title]%>">
  <%= boolean_value.name %>
  <% if required %>
    <span class="<%= cssClasses[:required] %>">*</span>
  <% end %>
</div>
<div class="custom-attributes value edit-cursor <%=cssClasses[:field]%>">
  <% if boolean_value.value.nil? %>
    --
  <% else %>
    <%= boolean_value.value ? "Yes" : "No" %>
  <% end %>
</div>