<% cssClasses ||= {} %>
<% required   ||= false %>
<% boolean_value.value = boolean_value.custom_attribute_defn.default_value if boolean_value.value.nil? %>

<div class="custom-attributes title <%=cssClasses[:title]%>">
  <%= boolean_value.name %>
  <% if required %>
    <span class="<%= cssClasses[:required] %>">*</span>
  <% end %>
</div>
<div class="custom-attributes value edit-cursor <%=cssClasses[:field]%>">
  <%= boolean_value.value %>
</div>