<div class="<%= 'hide' unless f.object.try(:date_type?) %>" id="custom_attribute_definition_email_alert_<%= id %>">
  <%= f.check_box :send_email_alert, { checked: custom_attribute.new_record? || custom_attribute.send_email_alert?, id: "custom_attribute_definition_send_email_alert" } %>
  <%= t('custom_attributes.form_dialog.send_email_alert') %><br/>

  <div class="margin-left-20 <%= 'hide' unless (custom_attribute.new_record? || custom_attribute.send_email_alert?) %>" id="custom_attribute_definition_email_options_div">
    <%= f.check_box :scheduled_alert, { checked: custom_attribute.new_record? || custom_attribute.scheduled_alert?, id: "custom_attribute_definition_scheduled_alert" } %>
    <%= t('custom_attributes.form_dialog.scheduled_custom_field_alert') %><br/>

    <div class="margin-left-20 <%= 'hide' unless (custom_attribute.new_record? || custom_attribute.scheduled_alert?) %>" id='custom_attribute_definition_recurring_alert_div'>
      <%= f.check_box :is_recurring, { data: { 'attr-id' => id }, id: "custom_attribute_definition_is_recurring" } %>
      <%= t('custom_attributes.form_dialog.setup_recurring_date_alert_label') %><br/>
     
      <div class="margin-left-20 <%= 'hide' unless custom_attribute.is_recurring? %>" id="custom_attribute_definition_recurring_cycle_type">
        <span class="span2 margin-left-reset margin-right-12">
          <%= f.label :repeat_duration, t('custom_attributes.form_dialog.repeat_duration_label') %>
          <%= f.text_field :repeat_duration, type: 'number', min: 1, class: "span2" %>
        </span>

        <span>
          <% cycle_types = [t('custom_attributes.form_dialog.day_label'), t('custom_attributes.form_dialog.week_label'), t('custom_attributes.form_dialog.month_label'), t('custom_attributes.form_dialog.year_label')] %>
          <%= f.label :repeat_cycle, t('custom_attributes.form_dialog.repeat_cycle_label') %>
          <%= f.select :repeat_cycle, cycle_types, {}, class: "span2" %>
        </span>
      </div>
    </div>

    <%= f.check_box :advance_alert, { id: "custom_attribute_definition_advance_alert" } %>
    <%= t('custom_attributes.form_dialog.advance_custom_field_alert') %>
    <label style="display: inline-block;" title="<%= t('custom_attributes.form_dialog.alert_sent_from_selected_date_title') %>">(<a>?</a>)</label><br/>

    <div class="margin-left-20 <%= 'hide' unless custom_attribute.advance_alert? %>" id="custom_field_definition_advance_notification_days">
      <span>
        <%= f.label :advance_alert_days, t('custom_attributes.form_dialog.advance_alert_days_label') %>
        <%= f.number_field :advance_alert_days, min: 1, max: 365, step: '1', class: 'span2' %>
      </span>
    </div>

    <%= f.check_box :subsequent_alert, { id: "custom_attribute_definition_subsequent_alert" } %>
    <%= t('custom_attributes.form_dialog.subsequent_custom_field_alert') %>
    <label style="display: inline-block;" title="<%= t('custom_attributes.form_dialog.alert_sent_from_selected_date_title') %>">(<a>?</a>)</label><br/>

    <div class="margin-left-20 <%= 'hide' unless custom_attribute.subsequent_alert? %>" id="custom_field_definition_subsequent_notification_days">
      <span>
        <%= f.label :subsequent_alert_days, t('custom_attributes.form_dialog.subsequent_alert_days_label') %>
        <%= f.number_field :subsequent_alert_days, min: 1, max: 365, step: '1', class: 'span2' %>
      </span>
    </div>
  </div>
</div>