<% titleClass ||= nil %>
<% fieldClass ||= nil %>
<% new_record ||= false %>
<% confirm_option_deletion_url ||= nil %>
<% position_update_url ||= nil %>
<div class="custom-attribute-definition title <%=titleClass%>">Name:</div>
<div class="custom-attribute-definition field <%=fieldClass%>">
  <%= f.text_field :attr_name, pattern:"^[a-zA-Z0-9ąćęłńóśźżĄĆĘŁŃÓŚŹŻ ]+$", title: "Name can only contain alphanumeric characters and spaces." %>
</div>

<div class="custom-attribute-definition title <%=titleClass%>">Type:</div>
<div class="custom-attribute-definition field <%=fieldClass%>">
  <% custom_attr_type_hash = custom_attribute_types.except!(CustomAttributes::CustomAttribute::TYPE_MULTIPLE_CHOICE, CustomAttributes::CustomAttribute::TYPE_CHECKBOX).invert %>
  <% type_options = { disabled: !new_record, id: "custom_attribute_type" } %>

  <% 
    if local_assigns[:is_date_alert]
      custom_attr_type_hash = custom_attr_type_hash.transform_keys{ |key| key == 'Date Field' ? "#{key} (alert)" : key }
      type_options['data-attr-id'] = "custom_attribute_type_#{id}"
    end 
  %>

  <%= f.select :attr_type, custom_attr_type_hash, {}, type_options %>
</div>

<% unless f.object.try(:date_type?) %>
  <div id="custom_attribute_default_value_div">
    <div class="custom-attribute-definition title <%=titleClass%>">Default Value:</div>
    <div class="custom-attribute-definition field <%=fieldClass%> default-value-div">
      <% if f.object.try(:boolean_type?) %>
        <%= f.radio_button :default_value, true, class: "default-value-field" %> Yes<br />
        <%= f.radio_button :default_value, false, class: "default-value-field" %> No<br />
        <%= f.radio_button :default_value, "", class: "default-value-field" %> <i>Do not set a default value</i>
      <% elsif f.object.try(:dropdown_type?) %>
        <%= select_tag :selected_option_label, options_for_select(f.object.custom_attribute_options.map { |op| op.label }, selected: f.object.default_option.try(:label)), include_blank: "-- Select --", class: "dropdown-ca-default-select" %>
      <% elsif f.object.try(:paragraph_type?) %>
        <%= f.text_area :default_value, class: "default-value-field" %>
      <% else %>
        <%= f.text_field :default_value, class: "default-value-field" %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="clearfix"></div>
<div class="custom-attribute-definition-options <%= 'hide' if f.object.blank? || !f.object.has_options? %>">
  <div class="custom_attribute_options_content sort-custom-attribute-options" data-update-url="<%= position_update_url %>">
    <%= f.fields_for :custom_attribute_options do |g| %>
      <%= render partial: 'custom_attribute_option_fields', locals: { f: g, confirm_option_deletion_url: confirm_option_deletion_url } %>
    <% end %>
  </div>
  <% 
    new_object = f.object.class.reflect_on_association(:custom_attribute_options).klass.new
    fields     = f.fields_for(:custom_attribute_options, new_object, child_index: "new_custom_attribute_options") do |builder|
      render("custom_attribute_option_fields", f: builder)
    end
  %>
  <%= link_to_function('Add Options', "addOptionToDropdownField('custom_attribute_options', '#{escape_javascript(fields)}')") %>
</div>

<% if local_assigns[:is_date_alert] %>
  <div class="<%= 'hide' unless f.object.try(:date_type?) %>" id="custom_attribute_definition_email_alert_<%= id %>">
    <%= f.check_box :send_email_alert, { checked: custom_attribute.new_record? || custom_attribute.send_email_alert?, id: "custom_attribute_definition_send_email_alert" } %>
    <%= t('custom_attributes.form_dialog.send_email_alert') %><br/>

    <div class="margin-left-20 <%= 'hide' unless (custom_attribute.new_record? || custom_attribute.send_email_alert?) %>" id="custom_attribute_definition_email_options_div">
      <%= f.check_box :scheduled_alert, { checked: custom_attribute.new_record? || custom_attribute.scheduled_alert?, id: "custom_attribute_definition_scheduled_alert" } %>
      <%= t('custom_attributes.form_dialog.scheduled_custom_field_alert') %><br/>

      <div class="margin-left-20 <%= 'hide' unless (custom_attribute.new_record? || custom_attribute.scheduled_alert?) %>" id='custom_attribute_definition_recurring_alert_div'>
        <%= f.check_box :is_recurring, { data: { 'attr-id' => id }, id: "custom_attribute_definition_is_recurring" } %>
        <%= t('custom_attributes.form_dialog.setup_recurring_date_alert_label') %><br/>
       
        <div class="margin-left-20 <%= 'hide' unless custom_attribute.is_recurring? %>" id="custom_attribute_definition_recurring_cycle_type">
          <span class="span2 margin-left-reset margin-right-12">
            <%= f.label :repeat_duration, t('custom_attributes.form_dialog.repeat_duration_label') %>
            <%= f.text_field :repeat_duration, type: 'number', min: 1, class: "span2" %>
          </span>

          <span>
            <% cycle_types = [t('custom_attributes.form_dialog.day_label'), t('custom_attributes.form_dialog.week_label'), t('custom_attributes.form_dialog.month_label'), t('custom_attributes.form_dialog.year_label')] %>
            <%= f.label :repeat_cycle, t('custom_attributes.form_dialog.repeat_cycle_label') %>
            <%= f.select :repeat_cycle, cycle_types, {}, class: "span2" %>
          </span>
        </div>
      </div>

      <%= f.check_box :advance_alert, { id: "custom_attribute_definition_advance_alert" } %>
      <%= t('custom_attributes.form_dialog.advance_custom_field_alert') %>
      <label style="display: inline-block;" title="<%= t('custom_attributes.form_dialog.alert_sent_from_selected_date_title') %>">(<a>?</a>)</label><br/>

      <div class="margin-left-20 <%= 'hide' unless custom_attribute.advance_alert? %>" id="custom_field_definition_advance_notification_days">
        <span>
          <%= f.label :advance_alert_days, t('custom_attributes.form_dialog.advance_alert_days_label') %>
          <%= f.number_field :advance_alert_days, min: 1, max: 365, step: '1', class: 'span2' %>
        </span>
      </div>

      <%= f.check_box :subsequent_alert, { id: "custom_attribute_definition_subsequent_alert" } %>
      <%= t('custom_attributes.form_dialog.subsequent_custom_field_alert') %>
      <label style="display: inline-block;" title="<%= t('custom_attributes.form_dialog.alert_sent_from_selected_date_title') %>">(<a>?</a>)</label><br/>

      <div class="margin-left-20 <%= 'hide' unless custom_attribute.subsequent_alert? %>" id="custom_field_definition_subsequent_notification_days">
        <span>
          <%= f.label :subsequent_alert_days, t('custom_attributes.form_dialog.subsequent_alert_days_label') %>
          <%= f.number_field :subsequent_alert_days, min: 1, max: 365, step: '1', class: 'span2' %>
        </span>
      </div>
    </div>
  </div>
<% end %>

<% if !(f.object.try(:date_type?) || f.object.try(:boolean_type?) || f.object.try(:has_options?)) %>
  <div id="custom_attribute_placeholder_div">
    <div class="custom-attribute-definition title <%= titleClass %>">Placeholder:
      <%= link_to "(?)", "#", title: "It will be displayed in the custom field before the user enters a value" %>
    </div>
    <div class="custom-attribute-definition field <%= fieldClass %>">
      <%= f.text_field :placeholder %>
    </div>
  </div>
<% end %>

<% if new_record %>
  <%= f.hidden_field :sort_order %>
<% end %>