<% titleClass ||= nil %>
<% fieldClass ||= nil %>

<% new_record ||= false %>
<div class="custom-attribute-definition title <%=titleClass%>">Name:</div>
<div class="custom-attribute-definition field <%=fieldClass%>">
  <%= f.text_field :attr_name, pattern:"^[a-zA-Z0-9\_\s]+$", title: "Name can only contain alphanumeric characters and spaces." %>
</div>

<div class="custom-attribute-definition title <%=titleClass%>">Type:</div>
<div class="custom-attribute-definition field <%=fieldClass%>">
  <%= f.select :attr_type, custom_attribute_types.invert, {}, { disabled: !new_record, id: "custom_attribute_type" } %> 
</div>

<div class="custom-attribute-definition title <%=titleClass%>">Default Value:</div>
<div class="custom-attribute-definition field <%=fieldClass%> default-value-div">
  <% if f.object.try(:boolean_type?) %>
    <%= f.radio_button :default_value, true, class: "default-value-field" %> Yes<br />
    <%= f.radio_button :default_value, false, class: "default-value-field" %> No<br />
    <%= f.radio_button :default_value, "", class: "default-value-field" %> <i>Do not set a default value</i>
  <% elsif f.object.try(:dropdown_type?) %>
    <%= f.select :default_value, options_for_select(f.object.custom_attribute_options.map {|op| [op.label, op.id]}), class: "span3" %>
  <% else %>
    <%= f.text_field :default_value, class: "default-value-field" %>
  <% end %>
</div>

<% unless f.object.try(:boolean_type?) || f.object.try(:dropdown_type?) %>
  <div id="custom_attribute_placeholder_div">
    <div class="custom-attribute-definition title <%= titleClass %>">Placeholder:
      <%= link_to "(?)", "#", title: "It will be displayed in the custom field before the user enters a value" %>
    </div>
    <div class="custom-attribute-definition field <%= fieldClass %>">
      <%= f.text_field :placeholder %>
    </div>
  </div>
<% end %>

<% if new_record %>
  <%= f.hidden_field :sort_order %>
<% end %>