<% titleClass ||= nil %>
<% fieldClass ||= nil %>

<% new_record ||= false %>
<div class="custom-attribute-definition title <%=titleClass%>">Name:</div>
<div class="custom-attribute-definition field <%=fieldClass%>">
<%= f.text_field :attr_name, pattern:"^[a-zA-Z0-9\_\s]+$", title: "Name can only contain alphanumeric characters and spaces." %></div>

<div class="custom-attribute-definition title <%=titleClass%>">Type:</div>
<div class="custom-attribute-definition field <%=fieldClass%>">
  <%= f.select :attr_type, custom_attribute_types.invert, {}, {disabled: !new_record}%>
</div>

<% if new_record %>
<%= f.hidden_field :sort_order %>
<% end %>