<% titleClass ||= nil %>
<% fieldClass ||= nil %>

<% new_record ||= false %>
<div class="custom-attribute-definition title <%=titleClass%>">Name:</div>
<div class="custom-attribute-definition field <%=fieldClass%>">
<%= f.text_field :attr_name, pattern:"^[a-zA-Z0-9\_\s]+$", title: "Name can only contain alphanumeric characters and spaces." %></div>

<div class="custom-attribute-definition title <%=titleClass%>">Type:</div>
<div class="custom-attribute-definition field <%=fieldClass%>">
  <%= f.select :attr_type, custom_attribute_types.invert, {}, {disabled: !new_record}%>
</div>

<div class="custom-attribute-definition title <%=titleClass%>">Default Value:</div>
<div class="custom-attribute-definition field <%=fieldClass%>">
  <%= f.text_field :default_value %>
</div>

<div class="custom-attribute-definition title <%=titleClass%>">Placeholder:
  <%= link_to "(?)", "#", title: "It will be displayed in the custom field before the user enters a value" %>
</div>
<div class="custom-attribute-definition field <%=fieldClass%>">
  <%= f.text_field :placeholder %>

</div>

<% if new_record %>
<%= f.hidden_field :sort_order %>
<% end %>