<% form       ||= nil %>
<% cssClasses ||= {} %>
<% required   ||= false %>
<% integer_value.value ||= integer_value.custom_attribute_defn.default_value %>

<% if form %>
<% # BEGIN Field part of form %>
  <%= form.fields_for :custom_attributes do |custom_fields| %>
    <%= custom_fields.label integer_value.name, class: "#{cssClasses[:title]}" %>
    <%= custom_fields.text_field "#{integer_value.name}".to_sym, value: "#{integer_value.value}", class: "#{cssClasses[:field]}", required: required %>
  <% end %>
<% # END Field part of form %>
<% else %>
<% # BEGIN Inline Editing %>
<div class="custom-attributes editable-inline" data-controller="<%= integer_value.owner.class.to_s.underscore %>_custom_attribute_values" data-owner-id="<%= integer_value.owner.id %>" data-attr-name="<%= integer_value.name %>">
  <div class="<%=cssClasses[:title]%>">
    <div class="custom-attributes title custom-attribute-title">
      <%= integer_value.name %>
    </div>
    <% if required %>
      <span class="<%= cssClasses[:required] %>">*</span>
    <% end %>
  </div>
  <div class="custom-attributes value edit-cursor  <%=cssClasses[:field]%>">
    <%= integer_value.value %>
  </div>
  <div class="custom-attributes field  <%=cssClasses[:field]%>" style="display: none">
    <input type="text" pattern="[0-9]+" class="custom-attributes field" value="<%= integer_value.value %>" required=<%= required %>/>
  </div>
</div>
<% # END Inline Editing %>
<% end %>
