<% cssClasses ||= {} %>
<% required   ||= false %>
<% string_value.value ||= string_value.custom_attribute_defn.default_value %>

<div class="custom-attributes title <%=cssClasses[:title]%>">
  <%= string_value.name %>
  <% if required %>
    <span class="<%= cssClasses[:required] %>">*</span>
  <% end %>
</div>
<div class="custom-attributes value edit-cursor <%=cssClasses[:field]%>">
  <%= auto_link(string_value.value) %>
</div>