<% form       ||= nil %>
<% cssClasses ||= {} %>
<% required   ||= false %>
<% double_value.value ||= double_value.custom_attribute_defn.default_value %>

<% if form %>
<% # BEGIN Field part of form %>
  <%= form.fields_for :custom_attributes do |custom_fields| %>
    <% label_text = double_value.name %>
    <% label_text += content_tag(:span, '*', class: cssClasses[:required]) if required %>
    <%= custom_fields.label double_value.name.to_sym, label_text.html_safe, class: cssClasses[:title] %>
    <%= custom_fields.text_field "#{double_value.name}".to_sym, value: "#{double_value.value}", class: "#{cssClasses[:field]}", required: required %>
  <% end %>
<% # END Field part of form %>
<% else %>
<% # BEGIN Inline Editing %>
<div class="custom-attributes editable-inline" data-controller="<%= double_value.owner.class.to_s.underscore %>_custom_attribute_values" data-owner-id="<%= double_value.owner.id %>" data-attr-name="<%= double_value.name %>">
  <div class="<%=cssClasses[:title]%>">
    <div class="custom-attributes title custom-attribute-title">
      <%= double_value.name %>
    </div>
    <% if required %>
      <span class="<%= cssClasses[:required] %>">*</span>
    <% end %>
  </div>
  <div class="custom-attributes value edit-cursor <%=cssClasses[:field]%>">
    <%= double_value.value %>
  </div>
  <div class="custom-attributes field <%=cssClasses[:field]%>" style="display: none">
    <%= text_field_tag '', double_value.value, pattern: "[0-9]+(\.[0-9]+)?", class: "custom-attributes field", required: required %>
  </div>
</div>
<% # END Inline Editing %>
<% end %>