<% form ||= nil %>
<% cssClasses ||= {} %>

<% if form %>
<% # BEGIN Field part of form %>
  <%= form.fields_for :custom_attributes do |custom_fields| %>
    <%= double_value.name %><br/>
    <%= custom_fields.text_field "#{double_value.name}".to_sym, :value=>"#{double_value.value}" %>
  <% end %>
<% # END Field part of form %>
<% else %>
<% # BEGIN Inline Editing %>
<div class="custom-attributes editable-inline" data-controller="<%= double_value.owner.class.to_s.underscore %>_custom_attribute_values" data-owner-id="<%= double_value.owner.id %>" data-attr-name="<%= double_value.name %>">
  <div class="custom-attributes title <%=cssClasses[:title]%>">
    <%= double_value.name %>
  </div>
  <div class="custom-attributes value edit-cursor <%=cssClasses[:field]%>">
    <%= double_value.value %>
  </div>
  <div class="custom-attributes field <%=cssClasses[:field]%>" style="display: none">
    <input type="text" class="custom-attributes field" value="<%= double_value.value %>"/>
  </div>
</div>
<% # END Inline Editing %>
<% end %>