<% cssClasses ||= {} %>
<% required   ||= false %>

<div class="custom-attributes title <%=cssClasses[:title]%>">
  <%= dropdown_value.name %>
  <% if required %>
    <span class="<%= cssClasses[:required] %>">*</span>
  <% end %>
</div>
<div class="custom-attributes value edit-cursor <%=cssClasses[:field]%>">
  <%= dropdown_value.value %>
</div>